mat-form-field {
  width: 100%;
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  h3{
    text-align: center;
  }

  form
  {
    height:400px;
    overflow-y:auto
  }
